[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sqlalchemy = "*"
gevent="*"
falcon="*"
psycopg2="*"
sqlalchemy-utils="*"
gunicorn="*"
[dev-packages]

pytest = "*"
pytest-cov = "*"
codecov ="*"
waitress="*"





[requires]

python_version = "3.8"
